<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="ENCODING" value="UTF-8"/>
    <property name="LOG_LEVEL" value="DEBUG"/>
    
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    
    <!-- Reuse the log from Spring -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- ===== CONSOLE APPENDER ===== -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <Target>${user-system}.out</Target>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>

    <!-- ===== LOKI APPENDER (Thêm mới) ===== -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://52.77.21.237:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=${appName},service=common-library,level=%level,host=${HOSTNAME}</pattern>
            </label>
            <message>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <!-- ===== ROOT LOGGER ===== -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>   <!-- Thêm dòng này -->
    </root>

</configuration>